{% extends "global/Page.html" %}
{% load otree static %}



{% block title %}
        Instrucciones
{% endblock %}

{% block content %}
    <p>
        <h3>Matrices de Pago</h3>
    Para esta actividad, es importante entender una matriz de pago básica. Es por ello
    que se le solicita leer con atención la siguiente imagen que lo explica:

    </p>
  <img src="{% static "control/Mat_Pagos.png" %}" class="center" width="100%" height="70%" />
    <p>
      <h3>Instrucciones de pago en esta actividad</h3>
        En cada ronda, usted recibirá puntos tomando en cuenta las decisiones que haga.
        <br>
        <br>
        También se toman en cuentas las decisiones de todos los otros participantes en este sesión;
        estas decisiones se agrupan por medio de un ponderado W1,W2 (cantidad de participantes que
        toman decisión A o B respectivamente, sobre total de participantes en la sesión) que mide la proporción de otros
        participantes(menos usted),que tomaron las decisiones A o B, con las reglas de pago como siguen:

    </p>
    <p>
    <ol>
        <li>Si elige A, entonces usted recibe un ponderado de los pagos posibles para esta estrategia: <br>
          <br>
          W1 * (Pago si jugué A y oponente A) + W2 (Pago si jugué A y oponente B)</li>
          <br>
          <br>
        <li>Si elige B, entonces usted recibe un ponderado de los pagos posibles para esta estrategia: <br>
          <br>
          W1 * (Pago si jugué B y oponente A) + W2 (Pago si jugué B y oponente B)

        </li>
    </ol>
    </p>
    <p>
      Donde los valores que multiplican los ponderados W1 y W2 son los que se visualizaran en la 
      matriz de todas las rondas.

    </p>
        <h3>Toma de decisiones</h3>
    <p>
    En cada ronda, usted recibirá un número aleatorio X que se obtienen de un rango entre [0,100] donde todos los números 
    tienen la misma probabilidad de ser escogidos.
    Al final de la ronda, usted sabrá que número X fue escogido aleatoriamente.
    </p>

    <p>
    La decisión sobre las acciones A o B también están condicionadas y se toman antes de conocer el número
    aleatorio X. El juego funciona de la siguiente forma: Usted escoge el número más pequeño en el rango [0,100]
    por el cual escogería la acción A con la ayuda de un deslizador; la tabla a continuación (misma que podrá visualizar 
    en cada página de decisión) especifica como se toma la acción A o B:
    </p>
    <p>
    <body>

        <h4>Tabla de Decisiones</h4>

        <table style="width:100%">
          <tr>
            <th>Decisión</th>
            <th>Comparación</th>
          </tr>
          <tr>
            <td>Decidir A</td>
            <td>Numero escogido &#8804 X</td>

          </tr>
          <tr>
            <td>Decidir B</td>
            <td>Numero escogido > X</td>

          </tr>
        </table>

        </body>
    </p>
    <p>
    Recuerde que dado que usted escoge en el deslizador antes de conocer el número aleatorio, su
    elección final así como la de los otros participante estarán condicionadas al numero escogido. Cada participante 
    se le asigna un número aleatorio distinto.
    </p>

    <p>
        <h3>Ronda de Práctica</h3>
        Antes de empezar con las rondas pagadas, usted enfrentará una ronda de prueba (no remunerada)
        para que pueda familiarizarse con lo que se despliega en la pantalla del computador.

    </p>

    <p>
        <h3>Ganancias</h3>
        Al final de cada ronda, recibirá información relacionada con los puntos que obtuvo en la
        ronda en cuestión, la elección que tomó, así como las ganancias promedio de los mismos.
        Al final del experimento, recibirá un pago en dólares en correspondencia con los puntos que
        ha obtenido tomando en cuenta la tasa de cambio de {{ rate }} $ por cada punto (100 puntos 
        representarían 0.50 $), además del pago por participar.

    </p>

    {% next_button %}
{% endblock %}
