{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bienvenido
{% endblock %}

{% block content %}
<p>
En este momento va a participar en una actividad remunerada. El pago que recibe por participar el
día de hoy es de {{ fee }}. Además puede incrementar sus ganancias en base a las decisiones que tome.
</p>
<p>
Por favor, tenga en cuenta que los dispositivos electrónicos deben estar apagados y que
debe evitar cualquier otra actividad en su ordenador durante este momento.
Ante cualquier duda que pueda surgir durante el desarrollo del experimento, por favor escribir la pregunta
dentro del chat privado de la videoconferencia.
</p>
<p>
El experimento consta de 19 rondas en su totalidad: <strong>Una ronda de prueba y 18 rondas pagadas</strong>.
En cada una de estas rondas, usted tomará una decisión que sera considerada para el pago que
recibirá usted, así como otros participantes en esta sesión.
</p>




    {% next_button %}

{% endblock %}

