{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bienvenido
{% endblock %}

{% block content %}
<p>
En este momento va a participar en una actividad remunerada. El pago que recibe por presentarte el
día de hoy es de {{ fee }}. Además puede incrementar sus ganancias en base a las decisiones que tome.
</p>
<p>
Por favor, tenga en cuenta que los dispositivos electrónicos deben estar apagados y que
debe evitar mirar en las pantallas de los otros participantes que están en esta sesión con usted.
Ante cualquier duda que pueda surgir durante el desarrollo del experimento, no dude en levantar la mano
y alguien en el equipo del laboratorio le apoyará inmediatamente.
</p>
<p>
El experimento consta de 11 rondas en su totalidad: <strong>Una ronda de prueba y 10 rondas pagadas</strong>.
En cada una de estas rondas, usted tomará una decisión que sera considerada para el pago que
recibirá usted, así como otros participantes en esta sesión.
</p>




    {% next_button %}

{% endblock %}

